/* Trending.css */

.trending-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .chart-section {
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  
  .RechartsTooltip {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .pie-tooltip {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .trending-container {
      padding: 15px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  